@model LoginModel;
@{
    ViewData["Title"] = "Login";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm btn-close" arial-label="Close"></button>
        @TempData["ErrorMessage"]
    </div>
}
<body id="login-body">
    <div class="login-container">
        <div class="login-wrapper">
            <form asp-controller="Login" asp-action="Login" method="post">
                <h1>Entrar</h1>
                <div class="input-box">
                    <input type="email" class="form-control" id="login" asp-for="Email" placeholder="Digite seu e-mail aqui">
                    <i class='bx bx-envelope'></i>
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
                <div class="input-box">
                    <input type="password" class="form-control" id="senha" asp-for="Password" placeholder="Digite sua senha">
                    <i class='bx bx-lock-alt'></i>
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
                <button type="submit" class="btn">Entrar</button>
                <div class="register-link">
                    <p>Não tem uma conta?<a href="/Home/Create"> Registre-se</a></p>
                </div>

            </form>
        </div>
    </div>   
</body>

